@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

body {
    font-family: "Kanit", sans-serif;
}

@theme {
    --font-satoshi: "Satoshi", sans-serif;
    --font-display--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --font-display--font-variation-settings: "opsz" 32;
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url('lib/fonts/Satoshi-Light.woff2') format('woff2'),
    url('lib/fonts/Satoshi-Light.woff') format('woff'),
    url('lib/fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('lib/fonts/Satoshi-LightItalic.woff2') format('woff2'),
    url('lib/fonts/Satoshi-LightItalic.woff') format('woff'),
    url('lib/fonts/Satoshi-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('lib/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('lib/fonts/Satoshi-Regular.woff') format('woff'),
    url('lib/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Italic';
    src: url('lib/fonts/Satoshi-Italic.woff2') format('woff2'),
    url('lib/fonts/Satoshi-Italic.woff') format('woff'),
    url('lib/fonts/Satoshi-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('lib/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('lib/fonts/Satoshi-Medium.woff') format('woff'),
    url('lib/fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('lib/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
    url('lib/fonts/Satoshi-MediumItalic.woff') format('woff'),
    url('lib/fonts/Satoshi-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('lib/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('lib/fonts/Satoshi-Bold.woff') format('woff'),
    url('lib/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('lib/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
    url('lib/fonts/Satoshi-BoldItalic.woff') format('woff'),
    url('lib/fonts/Satoshi-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url('lib/fonts/Satoshi-Black.woff2') format('woff2'),
    url('lib/fonts/Satoshi-Black.woff') format('woff'),
    url('lib/fonts/Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('lib/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
    url('lib/fonts/Satoshi-BlackItalic.woff') format('woff'),
    url('lib/fonts/Satoshi-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}